  .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }

  .card {
    max-width: 500px;
  }

  .card-header {
    height: 100px;
  }

  ul {
    font-family: 'Arial', sans-serif;
    font-size: 12pt;
    color: cornflowerblue;
  }

  li {
    margin-top: 10px;
  }

  /* Image pour les headers */

  .image-header {
    width: 64px;
    height: 64px;
  }

  @media (max-width: 768px) {
    .image-header {
      width: 48px;
      height: 48px;
    }
  }

  @media (min-width: 1024px) {
    .image-header {
      width: 80px;
      height: 80px;
    }
  }

  /* Textes light/dark */

  .has-text-intensity-1 {
    color: #2b2b2b;
    /* clair par défaut pour fond clair */
  }

  .has-text-intensity-2 {
    color: #606060;
    /* clair par défaut pour fond clair */
  }

  /* dark mode */
  @media (prefers-color-scheme: dark) {
    .has-text-intensity-1 {
      color: #f0f0f0;
      /* texte clair pour fond sombre */
    }
  }

  /* dark mode */
  @media (prefers-color-scheme: dark) {
    .has-text-intensity-2 {
      color: #A0A0A0;
      /* texte clair pour fond sombre */
    }
  }